body {
    background-color: #83AF9B;
}
#left-side{
    background-color:#232323;
    float: left;
    width: 55%;
    height: 100vh;
    color: aquamarine;
}
#right-side{
    background-image: url(images/paper1.png);
    float: right;
    width: 45%;
    height: 100vh;
}
body{
    margin: 0;
}
 .h-three{
    font-family: 'Gugi', cursive;
    /* font-family: 'Titan One', cursive; */
}
#h-one{
    margin-top: 20%;
    font-size: 300%;
    font-family: 'Do Hyeon', sans-serif;
}
#h-name{
    margin-top: 20%;
    font-size: 300%;
    font-family: 'Do Hyeon', sans-serif;
}
#form{
    margin-top: 35%;
    
}
#button{
    width: 50%;
    height: 30px;
    margin-top: 30px;
}
#name{
    width: 75%;
    height: 30px;
    padding-left: 10px;
    border: 2px solid purple;
}
input[type="text"]{
    line-height: 15px;
    font-family: 'Dosis', sans-serif;
    font-weight: bolder;
}
input[type="text"]:focus{
    background-color: rgba(221,160,221, 0.5);
    color: #fff;
}
input[type="text"]:hover{
    background-color: rgba(221,160,221, 0.3);
}